body {
    background-color: #660000;
    font-family: Georgia,Times,Serif;
}

.content {
    background-color: white;
}

h2 {
    padding: 12px 0 12px 0;
    font-size: 24px;
}

h3 {
    margin: 10px;
    font-size: 24px;
    color: white;
}

h4 {
    margin: 7px;
    padding: 5px 0 0 10px;
    color: #4A4A4A;
    font-weight: bold;
}

h5 {
    margin: 7px;
    color: #660000;
    border-bottom: 1px solid #660000;
}

p {
    font-size: 13px;
    color: #4A4A4A;
}

.contact_form ul {
    list-style-type: none;
}

.nav {
    list-style-type: none;
    font-size: 13px;
    color: white;
    font-weight: bold;
}

.nav > li {
    float: left;
    margin: 3px;
    padding: 3px 8px 3px 3px;
    border-right: 1px solid #DBDBDB;
}

.nav li ul li {
    margin: 2px;
    padding: 2px 4px 4px 7px;
    font-size: 12px;
}

.nav li:last-child {
    border-right: 0;
}

.nav2 {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 25px;
}

.nav2 li {
  padding: 5px 0 5px 1.3em;
}

.nav2 li:before {
  content: "»"; 
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  font-size: 110%;
}

.nav a { color: white; text-transform: none; }
.nav a.active { color: white; text-transform: underline; }
.nav a.hover { color: white; text-transform: underline; }
.nav a.visited { color: white; text-transform: none; }

.dropdown-menu a { color: #660000; text-transform: none; }
.dropdown-menu a.active { color: #660000; text-transform: underline; }
.dropdown-menu a.hover { color: #660000; text-transform: underline; }
.dropdown-menu a.visited { color: #660000; text-transform: none; }

.nav2 a { color: #660000; text-transform: none; }
.nav2 a.active { color: #660000; text-transform: underline; }
.nav2 a.hover { color: #660000; text-transform: underline; }
.nav2 a.visited { color: #660000; text-transform: none; }

h3.main a { color: white; text-transform: none; }
h3.main a.active { color: white; text-transform: none; }
h3.main a.hover { color: white; text-transform: none; }
h3.main a.visited { color: white; text-transform: none; }
