<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-10">&nbsp;</div>
      </div>
      <div class="row flex-items-xs-middle">
        <div class="col-xs-12 col-md-6">
          <h3 class="main"><a href="/">Organization</a></h3>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="navbar">
            <ul class="nav">
              {% for nav in navitems %}
                  {% if not nav.parent %}
                      {% if not nav.children %}
                          <li{% if page and nav.page and page.id == nav.id %} class="active"{% endif %}><a href="{% if nav.link %}{{ nav.link }}{% else %}/go/{{ nav.slug }}{% endif %}">{{ nav.name }}</a></li>
                      {% else %}
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav.name }} <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                              {% for child in nav.children %}
                                  <li{% if page and page.id == child.id %} class="active"{% endif %}><a href="{% if child.link %}{{ child.link }}{% else %}/go/{{ child.slug }}{% endif %}">{{ child.name }}</a></li>
                              {% endfor %}
                              </ul>
                          </li>
                      {% endif %}
                  {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="container content">
      {% block content %}
      {% endblock %}
      </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>