{% extends "base.html" %}
{% block title %}Gallery{% endblock %}

        {% block page_title %}{% if gallery %}{{ gallery.name }}{% else %}Galleries{% endif %}{% endblock%}
        {% block body %}
        <div id="gal_container">
            {% if gallery %}{% for photo in gallery.photos %}
            <div class="thumb{% if forloop.counter|divisibleby:"3" %} galrow{% endif %}"><img src="/media/{{ photo.thumb }}" alt="{{ photo.caption }}"/></div>{% endfor %}
            {% else %}{% for gal in galleries %}
            <div class="thumb{% if forloop.counter|divisibleby:"3" %} galrow{% endif %}"><img src="/media/{{ gal.image.thumb }}" alt="{{ gal.name }}"/></div>{% endfor %}
            {% endif %}
        </div>
        {% endblock %}